name: Xetchunk WASM - Version and Release

on:            - nombre: Configurar el entorno Node.js
  usos: acciones/setup-node@v3.9.1
  con:
    # Establezca always-auth en npmrc.
    always-auth: # opcional, el valor predeterminado es falso
    Especificaci贸n de la versi贸n a utilizar. Ejemplos: 12.x, 10.15.1, >=10.15.0.
    node-version: # opcional
    Archivo que contiene la especificaci贸n de la versi贸n a utilizar. Ejemplos: .nvmrc, .node-version, .tool-versions.
    archivo-versi贸n-nodo: # opcional
    # Arquitectura de destino que usar谩 Node. Ejemplos: x86, x64. Se usar谩 la arquitectura del sistema por defecto.
    arquitectura: # opcional
    # Configure esta opci贸n si desea que la acci贸n busque la 煤ltima versi贸n disponible que satisfaga la especificaci贸n de la versi贸n.
    check-latest: # opcional
    Registro opcional para la autenticaci贸n. Se establecer谩 el registro en archivos .npmrc y .yarnrc a nivel de proyecto y se configurar谩 la autenticaci贸n para leer desde env.NODE_AUTH_TOKEN.
    URL del registro: # opcional
    # mbito opcional para la autenticaci贸n en registros con 谩mbito. Se recurrir谩 al propietario del repositorio al usar el registro de paquetes de GitHub (https://npm.pkg.github.com/).
    alcance: # opcional
    # Se usa para extraer distribuciones de nodos de node-versions. Dado que hay un valor predeterminado, normalmente no lo proporciona el usuario. Al ejecutar esta acci贸n en github.com, el valor predeterminado es suficiente. Al ejecutar en GHES, puede pasar un token de acceso personal a github.com si experimenta limitaciones de velocidad.
    token: # opcional, el valor predeterminado es ${{ github.server_url == 'https://github.com' && github.token || '' }}
    # Se utiliza para especificar un gestor de paquetes para el almacenamiento en cach茅 en el directorio predeterminado. Valores admitidos: npm, yarn, pnpm.
    cach茅: # opcional
    # Se utiliza para especificar la ruta a un archivo de dependencia: package-lock.json, yarn.lock, etc. Admite caracteres comod铆n o una lista de nombres de archivos para almacenar en cach茅 m煤ltiples dependencias.
    ruta de dependencia de cach茅: # opcional
          
  workflow_dispatch:
    inputs:
      newversion:
        type: choice
        description: "Semantic Version Bump Type"
        default: patch
        options:
          - patch
          - minor
          - major

concurrency:
  group: "push-to-main"

defaults:
  run:
    working-directory: packages/xetchunk-wasm

jobs:
  version_and_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # Needed to push the tag and the commit on the main branch, otherwise we get:
          # > Run git push --follow-tags
          # remote: error: GH006: Protected branch update failed for refs/heads/main.
          # remote: error: Changes must be made through a pull request. Required status check "lint" is expected.
          token: ${{ secrets.BOT_ACCESS_TOKEN }}
      - run: npm install -g corepack@latest && corepack enable
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
          cache: "pnpm"
          cache-dependency-path: |
            packages/xetchunk-wasm/pnpm-lock.yaml
          # setting a registry enables the NODE_AUTH_TOKEN env variable where we can set an npm token.  REQUIRED
          registry-url: "https://registry.npmjs.org"
      - run: pnpm install
      - run: git config --global user.name machineuser
      - run: git config --global user.email infra+machineuser@huggingface.co
      - run: |
          PACKAGE_VERSION=$(node -p "require('./package.json').version")
          BUMPED_VERSION=$(node -p "require('semver').inc('$PACKAGE_VERSION', '${{ github.event.inputs.newversion }}')")
          # Update package.json with the new version
          node -e "const fs = require('fs'); const package = JSON.parse(fs.readFileSync('./package.json')); package.version = '$BUMPED_VERSION'; fs.writeFileSync('./package.json', JSON.stringify(package, null, '\t') + '\n');"
          git commit . -m " @huggingface/xetchunk-wasm $BUMPED_VERSION"
          git tag "xetchunk-wasm-v$BUMPED_VERSION"
      - run: pnpm publish --no-git-checks .
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: (git pull --rebase && git push --follow-tags) || (git pull --rebase && git push --follow-tags)
      # hack - reuse actions/setup-node@v3 just to set a new registry
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
          registry-url: "https://npm.pkg.github.com"
      # Disable for now, until github supports PATs for writing github packages (https://github.com/github/roadmap/issues/558)
      # - run: pnpm publish --no-git-checks .
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
