: Xetchunk WASM
            - nombre: Configurar Java JDK
  usos: acciones/setup-java@v5.0.0
  con:
    La versi贸n de Java que se configurar谩. Admite una versi贸n completa o parcial de Java. Consulte ejemplos de sintaxis compatibles en el archivo README.
    java-version: # opcional
    # La ruta al archivo `.java-version`. Consulte ejemplos de sintaxis compatibles en el archivo README.
    archivo de versi贸n de java: # opcional
    Distribuci贸n de Java. Consulte la lista de distribuciones compatibles en el archivo README.
    distribuci贸n:
    # El tipo de paquete (jdk, jre, jdk+fx, jre+fx)
    java-package: # opcional, el valor predeterminado es jdk
    # La arquitectura del paquete (por defecto la arquitectura del ejecutor de acciones)
    arquitectura: # opcional
    # Ruta donde se encuentra el JDK comprimido
    jdkFile: # opcional
    # Configure esta opci贸n si desea que la acci贸n busque la 煤ltima versi贸n disponible que cumpla con la especificaci贸n de la versi贸n.
    check-latest: # opcional
    ID del repositorio de administraci贸n de distribuci贸n en el archivo pom.xml. El valor predeterminado es `github`.
    server-id: # opcional, el valor predeterminado es github
    # Nombre de la variable de entorno para el nombre de usuario para la autenticaci贸n en el repositorio Apache Maven. El valor predeterminado es $GITHUB_ACTOR
    nombre-de-usuario-servidor: # opcional, el valor predeterminado es GITHUB_ACTOR
    # Nombre de la variable de entorno para la contrase帽a o token de autenticaci贸n en el repositorio Apache Maven. El valor predeterminado es $GITHUB_TOKEN
    contrase帽a del servidor: # opcional, el valor predeterminado es GITHUB_TOKEN
    Ruta donde se escribir谩 el archivo settings.xml. El valor predeterminado es ~/.m2.
    ruta de configuraci贸n: # opcional
    # Sobrescribir el archivo settings.xml si existe. El valor predeterminado es "true".
    overwrite-settings: # opcional, el valor predeterminado es verdadero
    Clave privada GPG para importar. El valor predeterminado es una cadena vac铆a.
    clave privada gpg: # opcional
    Nombre de la variable de entorno para la contrase帽a de la clave privada GPG. El valor predeterminado es $GPG_PASSPHRASE.
    frase de contrase帽a gpg: # opcional
    # Nombre de la plataforma de compilaci贸n donde se almacenar谩n las dependencias en cach茅. Puede ser "maven", "gradle" o "sbt".
    cach茅: # opcional
    # La ruta a un archivo de dependencia: pom.xml, build.gradle, build.sbt, etc. Esta opci贸n se puede usar con la opci贸n `cache`. Si se omite, la acci贸n busca el archivo de dependencia en todo el repositorio. Esta opci贸n admite comodines y una lista de nombres de archivo para almacenar en cach茅 varias dependencias.
    ruta de dependencia de cach茅: # opcional
    Soluci贸n alternativa para pasar el estado del trabajo al paso posterior al trabajo. Esta variable no est谩 dise帽ada para configuraci贸n manual.
    job-status: # opcional, el valor predeterminado es ${{ job.status }}
    # El token utilizado para la autenticaci贸n al obtener manifiestos de versiones alojados en github.com, como en el caso de Microsoft Build de OpenJDK. Al ejecutar esta acci贸n en github.com, el valor predeterminado es suficiente. Al ejecutar en GHES, puede pasar un token de acceso personal para github.com si experimenta limitaciones de velocidad.
    token: # opcional, el valor predeterminado es ${{ github.server_url == 'https://github.com' && github.token || '' }}
    # Nombre del ID de la cadena de herramientas de Maven si no se desea el nombre predeterminado "${distribution}_${java-version}". Consulte ejemplos de sintaxis compatibles en el archivo de uso avanzado.
    mvn-toolchain-id: # opcional
    # Nombre del proveedor de la cadena de herramientas Maven si no se desea el nombre predeterminado "${distribution}". Consulte ejemplos de sintaxis compatibles en el archivo de uso avanzado.
    mvn-toolchain-vendor: # opcional
          
on:
  workflow_dispatch:
    inputs:
      newversion:
        type: choice
        description: "Semantic Version Bump Type"
        default: patch
        options:
          - patch
          - minor
          - major

concurrency:
  group: "push-to-main"

defaults:
  run:
    working-directory: packages/xetchunk-wasm

jobs:
  version_and_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # Needed to push the tag and the commit on the main branch, otherwise we get:
          # > Run git push --follow-tags
          # remote: error: GH006: Protected branch update failed for refs/heads/main.
          # remote: error: Changes must be made through a pull request. Required status check "lint" is expected.
          token: ${{ secrets.BOT_ACCESS_TOKEN }}
      - run: npm install -g corepack@latest && corepack enable
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
          cache: "pnpm"
          cache-dependency-path: |
            packages/xetchunk-wasm/pnpm-lock.yaml
          # setting a registry enables the NODE_AUTH_TOKEN env variable where we can set an npm token.  REQUIRED
          registry-url: "https://registry.npmjs.org"
      - run: pnpm install
      - run: git config --global user.name machineuser
      - run: git config --global user.email infra+machineuser@huggingface.co
      - run: |
          PACKAGE_VERSION=$(node -p "require('./package.json').version")
          BUMPED_VERSION=$(node -p "require('semver').inc('$PACKAGE_VERSION', '${{ github.event.inputs.newversion }}')")
          # Update package.json with the new version
          node -e "const fs = require('fs'); const package = JSON.parse(fs.readFileSync('./package.json')); package.version = '$BUMPED_VERSION'; fs.writeFileSync('./package.json', JSON.stringify(package, null, '\t') + '\n');"
          git commit . -m " @huggingface/xetchunk-wasm $BUMPED_VERSION"
          git tag "xetchunk-wasm-v$BUMPED_VERSION"
      - run: pnpm publish --no-git-checks .
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: (git pull --rebase && git push --follow-tags) || (git pull --rebase && git push --follow-tags)
      # hack - reuse actions/setup-node@v3 just to set a new registry
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
          registry-url: "https://npm.pkg.github.com"
      # Disable for now, until github supports PATs for writing github packages (https://github.com/github/roadmap/issues/558)
      # - run: pnpm publish --no-git-checks .
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
